
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
background-color: rgb(17, 17, 17);
}
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(30, 29, 29);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left ;
    border: none;
    background-color: rgb(44, 43, 43);
    color: white;
}
#key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px;
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    background-color: rgb(21, 21, 21);
    color: white;
    font-size: 3rem;
    font-weight: bold;
cursor: pointer;
}

button:hover{
    background-color: rgb(6, 6, 6);
}
button:active{
    background-color: rgb(14, 8, 8);
}
.operator-btn{
    background-color: orange;
}
.operator-btn:hover{
    background-color: rgb(129, 105, 60);
}

.operator-btn:active{
    background-color: rgb(210, 147, 31);
}


 /*key  display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 25px; */

    /*  button width: 23%;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgb(21, 21, 21);
    color: white;
    font-size: 20px;
    font-weight: bold;
cursor: pointer; */
